@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Hind Siliguri', sans-serif;
}
.navbar .navbar-expand-lg{
    background: rgba(0, 0, 0, 0.25);
}

.contact-card{
    background-color: #F8F4EA;
}

.contact-card:hover{
    /* background-color: black;
    color: white; */
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }